<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>
      This site was created by Brian Jones. It gets data from free API's to give weather information.
    </p>
    <img class="portrait" src="/images/crazy-dog.jpg" alt="">
  </div>

  {{>footer}}
</body>

</html>